<html>
  <body>
 {% extends "base.html" %}
 {% block content %}
   <div class="jobs">
     <h1>About Jobs</h1>
     <h2>This section of the Hy-py Webapp is a listing of Tech jobs. The jobs section is catergorized by Company, Job title, Location, and Url which where produced by an API request for Githubjobs.com and Webscrapping Indeed.com.</h2>
	 <table border = 20>
	 	<caption>Job Listing</caption>
	 	<tr>
		   <th> Company </th>
		   <th> Title </th>
		   <th> Location  </th>
		   <th> Url  </th>
	    </tr>
		{% for job in githubjob %}
	    <tr>
	    	<th> {{job['Company']}} </th>
		   	<th> {{job['Job Title']}} </th>
		    <th>  {{job['Location']}} </th>
		    <th><a href= "{{job['Job Url']}}" target=" _blank">{{job['Job Title']}}</a> </th>
		</tr>
		{% endfor %}
	</table>
   </div>
 {% endblock %}
  </body>
</html>


