<html>
  <body>
 {% extends "layout.html" %}
 {% block content %}
   <div class="jobs">
     <h1>About Jobs</h1>
     <p>This section of the Hypytenuse Webapp is of Tech jobs. The jobs section is catergorized by Company, Job title, Location, and Url produced by aggreagting using an API for Githubjobs.com and Webscrapping Indeed.com.</p>
	 <table border = 1>
	 	<tr>
		   <th> Company </th>
		   <th> Title </th>
		   <th> Location  </th>
		   <th> Url  </th>
	    </tr>
		{% for job in githubjob %}
	    </tr>
	    	<th> {{job['Company']}} </th>
		   	<th> {{job['Job Title']}} </th>
		    <th>  {{job['Location']}} </th>
		    <th><a href= "{{job['Job Url']}}" target=" _blank">{{job['Job Title']}}</a> </th>
		</tr>
		{% endfor %}
	</table>
   </div>
 {% endblock %}
  </body>
</html>


